<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('routes.login') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {{ form.email }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.remember.label }} {{ form.remember }} <!-- Checkbox for 'Remember Me' -->
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>

</html>